.mainDiv {
    background-image: url('../../assets/bg.jpeg');
    background-size: cover;
    overflow: auto;
    word-wrap: break-word;
    min-width: 100vw;
    height: 80vh;
    position: relative;
}
.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.6);
    z-index: 2;
}
.content {
    position: absolute;
    left: 50%;
    width: 80%;
    background-color: white;
    box-shadow: var(--mainShadow);
    border-radius: 15px;
    bottom: 10px;
    height: auto;
    transform: translateX(-50%);
    -webkit-transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    -o-transform: translateX(-50%);
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    -ms-border-radius: 15px;
    -o-border-radius: 15px;
}