.mainContainer {
  background-color: var(--whiteColor);
}
.img {
  width: 150px;
  height: 150px;
  margin: 20px auto !important;
  object-fit: cover;
}
.title {
  color: var(--textColor) !important;
}
